/* html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
} */
/* Removes inner padding and border in Firefox 4+. */

/* * {
    border: 0;
    padding: 0;
    margin:0;
} */

h1 {
  color: green;
  background-color: pink !important;
}

h2 {
  color: blue;
  margin:10 px;
}

h3 {
  color: aqua;
  background-image: -moz-linear-gradient(indigo, green, red);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 320;
  font-size: larger;
}

h4 {
  color: rgb(8, 13, 87);
  background-image: -moz-linear-gradient(rgb(120, 98, 136), rgb(116, 145, 116), rgb(209, 158, 158));
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 280;
  font-size: large;
}



input {
  background-color: cornflowerblue;
}

label {
  color :rgb(197, 85, 147);
}

time {
  background-color: white;
  color: red;
  font-size: 35px;
}

p {
  color: green;
  font-size: 40px;
  font-weight: 400;

}

footer {
  background-color: chocolate;
  padding-bottom: 10px;
  margin-bottom: 15px;
}


.nav-bar{
  background-image :  linear-gradient(77deg,red 30%,chartreuse 25%, crimson 45%) !important ;

 }


 .nav-bar a{
  color : rgb(2, 2, 44);
  
  text-decoration-style: none ;
 }

  a{
  padding:10px 15px 9px 15px !important;
  }

  a:focus{
    color: #000;
    background-color: #ccc;
    }
   a.activesub:link, a.activesub:visited {background-color:rgb(177, 223, 200);color:rgb(61, 52, 52);}
   a.activesub:hover, a.activesub:active {background-color:rgb(129, 56, 56);color:rgb(74, 135, 146);}
   a.active_overview:link, a.active_overview:visited {background-color:rgb(158, 233, 168);color:rgb(142, 160, 44);}


.full-width {
  width: 100%;
  padding: 15px;
  margin: auto;
}

.form-signin {
  max-width: 330px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  border-radius: 0;
  margin-bottom: -1px;
}
.form-signin input:first-of-type {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.form-signin input:last-of-type {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-bottom: 10px;
}